body{
    background-color: #560558;
    padding-bottom: 70px;
}

.container{
    display: grid;
    justify-content: center;
    margin-top: 9%;
    background-color: rgb(50, 19, 78);
    padding: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(197, 182, 182, 0.7);
}

.content{
  margin-left: 20px;
  padding: 11px;
}

.img{
    width: 180px;
    padding: 8px;
    border-radius: 59%;
    margin-left: 49px;
    border:#560558 solid;
    border-spacing: 30px;
     margin-bottom: 30px;

}

.span{
   position: absolute;
   top: 23%;
   left: 33%;
}
span{
    background-color: rgb(245, 172, 38);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;
    font-size: small;
    border-radius: 3px;
    
    
}

h4, h5, p{
    color: rgb(219, 200, 223);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300px;
}


.button{
    padding: 9px;
    width: 46%;
    

}

.btn{
    border: none;
    background-color: rgb(106, 35, 172);
    color: rgb(207, 200, 200);
    font-weight: bold;

}

.bnt{
    font-weight: bold;
    color: rgb(182, 172, 172);
    background-color: rgb(50, 19, 78);
    border-color:rgb(117, 39, 190);
    
}
h4{
    margin-left: 39px;
}
.graph{
    margin-left: 79px;
}

i{
    margin-left: 30px;
}

h5 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300px;
}

.skl{
    display: flex;
    justify-content: left;
}   

.skil{
    display:flex;
}
.j{
    margin: 11px;
    border: 1px solid white;
    padding: 4px;
    opacity: 0.4;
    
    
}

